.adm-popover-inner {
  max-width: 40vw;
}
.adm-popover-inner .popoverContent {
  font-weight: bold;
}
.adm-popover-inner .popoverContent a {
  word-wrap: break-word;
}
.adm-popover-inner .popoverContent .title {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}
.adm-popover-inner .popoverContent .title img {
  margin-left: 4px;
}
.adm-popover-inner .popoverContent .tip {
  margin-bottom: 5px;
  margin-top: 3px;
  text-align: center;
}
#Footer {
  position: absolute;
  z-index: 1;
  bottom: 8vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Footer .element {
  width: 30%;
}
#Footer .coderBox {
  width: 17%;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
}
#Footer .coderBox img {
  height: 100%;
  width: 100%;
}
